.item {
    display: grid;
    justify-content: center;
    justify-self: center;
    padding: 2rem 0rem 3rem;
    align-items: center;
}

.item:nth-child(odd)  {
    background-color: $text-icons-dark;
}

#event-footer {
    padding: 0rem 0rem 2rem;
    background-color: $text-icons;
}