$dark-primary-color: #0288D1;
$light-primary-color: #03A9F4;
$primary-color: #73B6E3;
$accent-color: #E8D073;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$text-icons: #FFFFFF;
$text-icons-dark: #ECEff1;